* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #141d2b;
  color: #fff;
}

nav {
  display:flex;
  position: relative;
  overflow:hidden;
  font-size: 20px;
  margin: 17px;
  padding: 5px;
  align-items:center;
  .logo {
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    img {
      width: 60px;
    }
  }

  ul {
    li {
      list-style-type: none;
      margin: 15px;
      display: inline-block;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .right {
    margin-left:auto;
    order: 2;
    li {
      img {
        width: 40px;
      }
    }
  }

}
.footer {
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  ul {
    list-style-type: none;
    font-size: 20px;
    li {
      display: inline-block;
      margin: 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.sections {
  font-size: 20px;
  font-family: monospace; 
  padding: 10px;
  margin: 5em;
  h1 {
    padding: 10px;
    font-size: 60px;
    color: #9fef00;
  }
}

