* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Freehand', cursive;
  background-color: #141d2b;
  color: #fff;
}

nav {
  position: relative;
  overflow: hidden;
  .logo {
    display: inline-block;
    margin: 10px;
    font-size:3em;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white;
    }
  }

  ul {
    list-style-type: none;
    font-size: 3em;
    float: right;
  }

  li {
    display: inline-block;
    margin: 10px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.footer {
  ul {
    text-align: center;
    list-style-type: none;
    font-size: 3em;
    li {
      display: inline-block;
      margin: 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.about {
  font-size: 3em;
}
