* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #141d2b;
  color: #fff;
}

.active {
  color: #fff;
  font-size: 25px;
}

nav {
  background-color: #141d2b;
  width: 100%;
  z-index: 1000;
  position:fixed;
  display:flex;
  top: 0;
  left:0;
  font-size: 20px;
  align-items:center;
  padding: 20px;
  .logo {
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    img {
      width: 60px;
    }
  }

  ul {
    li {
      list-style-type: none;
      margin: 15px;
      display: inline-block;
      a {
        cursor: pointer;
        text-decoration: none;
        color: grey;
      }
    }
  }
  .right {
    margin-left:auto;
    margin-right: 40px;
    order: 2;
    li {
      img {
        width: 40px;
      }
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  ul {
    list-style-type: none;
    font-size: 20px;
    li {
      display: inline-block;
      margin: 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.sections {
  font-size: 20px;
  font-family: monospace; 
  h1 {
    padding: 20px;
    margin: 20px;
    font-size: 60px;
    color: #9fef00;
  }
  span {
    padding: 20px;
    margin: 20px;
  }
}

.container {
  margin-top: 100px;
  padding: 4em;
  height: 100%;
  section {
    height: 100vh;
  }
}

